body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app {
  font-family: sans-serif;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.form-builder {
  display: flex;
}

.sidebar {
  flex-basis: 20%;
  background-color: #f0f0f0;
  padding:  20px 5px;
}

.option {
  padding: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  cursor: move;
}

.drop-zone {
  flex-basis: 80%;
  background-color: #fff;
  padding: 20px;
  /* margin: 100px auto; */
  align-items: center;
  justify-content: center;
  display: flex;
  height: 600px;
}

.row-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar h2 {
  color: #333;
  text-decoration: none;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px ;
}

.form-input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.form-label {
  width: 15%;
}

.btn-group {
  width: 20%;
}

.edit-icon {
  background: rgb(0, 153, 255);
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.delete-icon {
  background: red;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.copy-icon {
  background: green;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.down-icon {
  background :orange;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.up-icon {
  background :orchid;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.drag-group{
  display: flex;
}